#menuBar {
    width: 100vw;
    height: 50px;
    background-color: black;
    z-index: 100;
}

/* 1130 / 938 */
@media screen and (min-aspect-ratio: 1210 / 1280) {
    #menuBar {
        width: 50px;
        height: 100vh;
    }
}